/*
* @section Widget form
*/
.tm-about-author-form-widget {
	
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	
	.upload_image_button {
		background-color: #0073aa;
	}

	.button-image {
		width: 48%;
		display: inline;
		cursor: pointer;
		color: #FFF;
	}

	.delete_image_url {
		background-color: #d54e21;
	}

	.avatar {
		text-align: center;
		img {
			width: 128px;
		}
	}
}

.wp-customizer {
	#TB_overlay, #TB_window {
		z-index: 999999;
	}
} 
