/*
* @section Widget form
*/
.tm-post-slider-form-widget {

	clear: both;
	width: 100%;
	margin-bottom: 10px;
	
	.line-switcher {
		clear: both;
		min-height: 30px;
		& > label {
			float: left;
			margin: 0 9px 0 0;
		}
	}
}